<section class="bg-zinc-900 p-10 md:p-20 rounded-xl my-4 md:text-left text-center">
  <h1 class="text-5xl font-bold my-5">About</h1>
  <p class="text-zinc-300 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quam eius provident, voluptas facilis fugiat explicabo impedit voluptatibus asperiores quibusdam sit, ut officia repudiandae veniam, error inventore et ex commodi maxime? Doloremque praesentium, asperiores consequatur dolorum exercitationem eos delectus in quisquam numquam cum neque inventore magnam totam animi laboriosam deserunt!</p>


</section>