<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left md:rounded-xl">
  <div>
    <h1 class="text-5xl pb-2 font-bold">Protect Your Password</h1>
    <p class="my-4 text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, cumque.</p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-md shadow-md">Start Now</button>
  </div>
  <img src="images/finger-print.svg" alt="" class="w-80">
</header>